body {
	font-family: sans-serif;
	margin: 0;
	background-color: #f4f5f6; */
	/* background-color: #d96689; */
}

.wrapper {
	width: 100%;
	/* max-width: 800px;  */
	max-width: 1180px;
	padding: 0;
	/* background-color: #ffffff; */
	margin: 0 auto;
}


a {
	color: gray;
	text-decoration: none;
}

h1.logo {
	/* background-image: url(images/logo.gif); */
	/* background-repeat: no-repeat; */
	width: 100px;
	text-indent: -1000000px;
	float: left;
	margin-top: 0;
}

header {
	max-width: 100%;	
	padding: 0px;
	background-color: #282929;

	
}

section {
	box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.75);
	background-color: #ffffff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


hr {
	width: 90%;
	color: #bebebe;
	background-color: #bebebe; height: 1px; border: 0;
}


#header-color {
	background-color: #282929;
	overflow: hidden;
	margin-bottom: -20;
}

header nav { 
	float: right;

}
header nav h2 {
	text-indent: -100000px;
	height: 0;
	margin: 0;
	padding: 0;
}

header nav ul {
	margin-top: 16px;
}

header nav li {
	/* font-family: Verdana, Geneva, sans-serif; */
	float: left;
	list-style-type: none;
	padding: 10px 20px;

}
header nav li:hover {
	background-color: #d96689;

}

header nav li:hover a {
	color: white;
}

header nav li a {
	text-decoration: none;
	color: #888888;
	font-size: 1em;
	
}



#main-banner {	
	clear: both;	
	height: 75vh;
	overflow: hidden;
	text-align: center;

}

#main-banner > h1 {
	font-family: Quicksand;
	text-align: center;
	font-size: 4em;
	
}

#main-banner > img {
	display: block;
    margin: 0 auto;
}

#main-banner i:hover {
	color: #d96689;
}


#skills-section {
	margin-bottom: 100px;
}

#skills-section h2, #projects > h2 #contact-me > h2{
	padding: 50px 0;

}

#skills-section > h2, #projects > h2 #contact-me > h2{
	font-size: 40px;
}

#projects > h2, #skills-section div h2 {
	text-align: center;
}

.skills-logo-container {
	float: left;
	width: 30%;
	padding: 0;
	margin: 50px 1.667% 50px 1.667%;
	text-align: center;
}

.logo-container > img {
	height: 120px;
	text-align: center;
	
}


#projects {
	width: 100%;
	/* background-color: #ffffff; */
	padding: 0;
	margin-bottom: 100px;
} 

.project-container {
	margin: 40px 20px 20px 20px;
	
}

.project-container:after {
	content:"";
	display: table;
	clear: both;
}


.project-info {
	float: left;
	width: 42%;
	padding: 0;
	margin: 20px 4% 20px 4%;
}

.project-info > h3 {
	font-style: italic;
}

.project-info > p {
	margin: 0;
}


.project-image-container {
	float: left;
	
	width: 42%;
	padding: 0;
	margin: 20px 4% 20px 4%;
	font-family: sans-serif;
}
.project-image-container div {
	margin: 0 auto;
	padding: 0px;
}

.project-image-container div img {
	display: block;
	width: 100%;
	height: auto;
}


.image-buttons {

	float: left;
	width: 50%;
	padding: 0;	
}
.link-buttons{
	float: left;
	width: 100%;
	padding: 0;
}
.image-buttons li{
	float: left;
	list-style: none;
	padding: 0;
	margin: 0 0 0 5px;
}

.image-buttons a {
	display: none;
}
.image-buttons ul{
	float: left;
	padding: 0;
}
.link-buttons li{
	float: left;
	list-style: none;
	margin: 0 0 0 10px;
	padding: 7px;
	color: #fff;
	background-color: #d96689;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	
}


.link-buttons a {
	text-decoration: none;
	color: white;
}

.link-buttons li:hover {
	text-decoration: none;
	background-color: #df3b84
}

.link-buttons li:active {
	text-decoration: none;
	background-color: black;
}


.link-buttons ul{
	float: right;
	padding-right: -30%;
	list-style-type: none;
	color: white;
		
}

#contact-me {
	margin: 0 auto;
	text-align: center;
	
}


#contact-me form {
	padding: 0 0 40px 0;
	
}

input, textarea { 
	color: #bebebe;
	height: 30px;
	font-size: 16px;
	margin: 10px 0;

}

textarea {
	resize: vertical;
	width: 50%;
}

.submit-button {	
	color: white;
	margin: 0 10px 0 10px;
	font-size: 20px;
	color: #fff;
	background-color: #d96689;
	border: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.submit-button:hover {
	text-decoration: none;
	background-color: #df3b84
}

.submit-button:active {
	text-decoration: none;
	background-color: black;
}



h2, h3 {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0 0 0 0;
	padding-bottom: 10px;
	color: #4f4f4f;

}

h4 {
	color: #d96689;
	margin: 0 0 0 0;
}

p {
	color: #888888;
}

section:after{
	content:"";
	display: table;
	clear: both;
}






footer {
	height: 100px;
	max-width: 100%;
	background-color: #282929;
	color: #888888;
	padding-bottom: 20px;
	font-family: sans-serif;
	font-size: 20px;
}

footer.wrapper {
	padding: 0;

}

.col{
	width: 33%;
	float: right;
	padding: 0;	
	margin: 0 auto;
}

.col ul {
	list-style: none;
}

h1, h2, h3, h4 {
	font-family: Quicksand;
}

h2 {
	font-weight: bolder;
	color: #2a2a2a;
}

section > h2 , #skills-section > div > h2{
	padding: 40px 0;
	font-size: 40px;
}	

footer a:hover {
	font-weight: bold;
	color: white;
}

