html  {
	 height: 100%;
	 margin-bottom: 1px;
	 overflow-y: scroll;
	 overflow-x: hidden;
 }

body {
	background-color: black;
	margin: 0;

}

a {
	color: #bc2020;
	text-decoration: none;
}

.wrapper {
	width: 100%;
	max-width: 1180px;
	padding: 0;
	margin: 0 auto;
}

.clear {
  clear: both;
  
}

header {
	width: 100%;
	padding: 0px;	
	font-family: sans-serif;
	color: white;
	height: 60px;
}

header nav {
	float: left;
	padding: 0;
	
}

header nav ul {
	list-style: none;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
}

header nav ul li {
	list-style-type: none;	
	display: inline;
	font-size: 0.7em;

}

header nav ul li a {

	text-decoration: none;
	color: white;
	margin: 10px;
}

header nav ul li a:hover {
	color:red;
}

header p {
	background-image: url("images/phone-icon.png");
	background-repeat: no-repeat;
	background-position: -0px 10px;
	padding: 0;
	padding-left: 40px;
	padding-right: 10px;
	margin-top: 12px;
	margin-bottom: 0;
	font-size: 1.7em;
	float: right;
	font-weight: bold;
}

.logo {
	float: left;
	width: 50%;
	padding: 20px;
}

.logo img {
	width:100%;
	height: auto;
}

.memberLogin {
	width: 40%;
	color: white;
	float: right;
	background-color: #525252;
	height: 100px;
	font-family: sans-serif;
	font-size: 16px;
}

.memberLogin h4 {
	padding: 15px 0;
	margin: 0;
	color: white;
}

.memberLogin form input[type=text] {
	font-size: 14px;
	padding: 5px;
	width: 30%;
	margin-right: 10px;
	color: #aaa;

}

.memberLogin form input[type=submit] {
	background-color: #333;
    border: 2px solid grey;
    color: white;
    padding: 8px 13px;
    text-decoration: none;
    margin: -3px 0px;
    
}

.memberLogin form input[type=submit]:hover {
	background-color: #bc2020;
        
}


.dropdownNav {
	padding: 0;
	margin-top: 20px;
	max-width: 100%;
}

.dropdownNav > div {

	width: 33.333%;
	padding: 10px 0;
	float: left;
	background-color: red;
	text-align: center;
	text-decoration: none;


	-webkit-clip-path: polygon(0 0, 0 100%, 95% 100%, 100% 50%, 95% 0);
  	clip-path: polygon(0 0, 0 100%, 95% 100%, 100% 50%, 95% 0);

	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ac0002), to(#dd0000));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #dd0000, #ac0002);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #dd0000 #ac0002);

	/* IE 10 */
	background: -ms-linear-gradient(top, #dd0000 #ac0002);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #dd0000, #ac0002);
}

.dropdownNav > div a {
	font-family: sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: white;
	text-shadow: 0px 1px 1px #740F10, 2px 2px 2px #333333;
}

.banner img {
	margin-top: 10px;
	width: 100%;
	height: auto;
}
#main {
	background-color: white;
	/*height: 1550px;  */
	padding-top: 20px;
	margin-top: -28px;
	padding-left: 1.1%;

	
}

.service-section {
	padding: 0;
	max-width: 100%;
	float: left;
	width: 24%;
	margin: 0 1% 0 0;
	background-color: #333;


}

.service-section:hover {
	background: #ac0002;


}

.service-section:hover  > img {
		-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    	filter: grayscale(100%)

	}

.service-section h3 {
	margin: 10px;
	color: white;
	font-family: sans-serif;
}

.service-section img {
	width: 100%;
	height: auto;
	margin-bottom: -11px;
}

.service-section img:hover {
	background: red;
}

.intro {
	font-family: arial, helvetica, clean, sans-serif;
	color: #333;
	/* padding-top: 40px; */
	max-width: 100%;
	width: 60%;
	float: left;
	margin-top: 40px;
	padding-left: 20px;
}

.intro p {
	line-height: 40px
}

.intro-title {
		display: none;
}


#contact-us {

	width: 50%;
	padding: 10px 0;
	float: left;
	margin: 0 auto;
	background-color: red;
	text-align: center;
	text-decoration: none;


	-webkit-clip-path: polygon(0 0, 0 100%, 95% 100%, 100% 50%, 95% 0);
  	clip-path: polygon(0 0, 0 100%, 95% 100%, 100% 50%, 95% 0);

	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ac0002), to(#dd0000));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #dd0000, #ac0002);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #dd0000 #ac0002);

	/* IE 10 */
	background: -ms-linear-gradient(top, #dd0000 #ac0002);

	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #dd0000, #ac0002);
}

#contact-us a {
	font-family: sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: white;
	text-shadow: 0px 1px 1px #740F10, 2px 2px 2px #333333;

}

.intro img {
	display: block;
	height: 300px;
	max-width: 100%;
	
	margin: 50px auto;
}

.sidebar {
	margin-top: 55px;
	float: left; 
	margin-left: 5%;
	max-width: 100%;
	width: 30%;	
	margin-right: 0px;
	/* height: 400px; */
  	
}

#testimonials {
	background-color: #e9e9e9; 
 	background-image: linear-gradient(#e9e9e9, white);
 	padding: 5%;

}

.sidebar-wrapper {
	font-family: sans-serif;
	font-size: 16px;
	max-width: 100%;
	width: 90%;
	margin: 0 auto;
	color: #333;
}

#contact-info {
	margin-top: 100px;
	margin-bottom: 40px;
}

#contact-info h2 {
	color: #dd0000;

}
#contact-info h4 {
	margin: 0;
}

footer {
	display: block;
	font-family: sans-serif;
	font-size: 15px;
	padding: 30px;
	margin-top: -30px;
	height: 200px;
	background-color: #4c4c4c;	
}

footer h4 {
	font-style: sans-serif;
	color: white;
	margin: 0;
	margin-bottom: 10px;
}

footer ul {
	padding: 0;
	margin: 0;

}


footer ul li {
	
	list-style-type: none;
	margin-bottom: 10px;
}

footer ul li a {
	color: #afadad;
	
}

footer ul li a:hover {
	color: white;
	font-weight: bold;
}

.column {
	padding: 0;
	max-width: 100%;
	float: left;
	width: 24%;
	margin: 0 1% 0 0;
	
}

#left-column a {
	color: white;
}

/* Begin Media Queries */

@media (max-width: 768px) { 
	header {
		height: 30px;
	}

	header nav {
		
		width: 100%;
		float: none;
		

	}


	header nav ul {
		margin-top: 25px;		
		padding: 0;
		width: 100%;
		
		
	}

	header nav ul li{
		display: block;
		float: left;
		width: 23%;
		margin: 0 1% 0 1%;
		text-align: center;
	}

	header nav ul li a{ 
		width: 100px;
		text-align: center;
		font-size: 1em;
		margin: 0;		
	}



	header p{
		display: none;
	}

	.logo {
		width: 100%;
		height: auto;
		padding: 0px 0px 170px 0px;
		background-image: url("images/logo_small.png");
		background-repeat: no-repeat;
		text-align: center;
		background-size: auto 150px;
		background-position: center;
	}



	.logo img {
		display: none;
		
	}

	.memberLogin {
		
		width: 100%;
		padding: 0 0;
		margin-bottom: 10px;

	}

	.memberLogin .sidebar-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.memberLogin form input[type=text] {
		width: 35%;
	}

	.dropdownNav div {
		width: 100%;
		margin-bottom: 30px;
	}

	.banner {
		padding-top: -10px;
	}


	#main {
		/* height: 2800px; */
		padding-left: 0;
	}

	#main .wrapper {
		/*margin-top: -10px;
		/*padding-left: 11px; */

	}

	.service-section {
		padding: 0;
		width: 40%;
		margin: 40px 5% 40px 5%;
		

	}

	.intro-title {
		display: block;
	}

	.intro-title h2 {
		padding: 10px 0;
		text-align: center;
	}

	.intro {
		width: 80%;
		margin: 0 10% 0 10%;
		padding-left: 0;		

	}

	.intro p {
		line-height: 40px;
		text-align: justify;
	}

	#contact-us {
		width: 100%;
	}

	.sidebar {
		margin: 0 0 0 0;
		padding: 0;
		
		width: 100%;
		text-align: center;

	}

	#testimonials {
		padding-top: -20px;
		padding: 0;
	}

	.sidebar-wrapper {
		width: 100%;
		margin: 0;
	}

	.sidebar-wrapper p {
		padding: 0 40px;

	}

	.sidebar-wrapper h2 {
		padding: 20px 0;
		font-size: 2.0em;
	}

	#contact-info {
		margin-top: 0px;
	}

	footer {
		height: 250px;
		font-size: 12px;
	}

}

@media (max-width: 480px) { 

	header {
		position: fixed;
		z-index: 1;
	}

	header .wrapper {
		width: 100%;
		padding: 0;
	}

	.burger-nav {
		display: block;
		height: 36px;
		width: 100%;
		background: url(images/burger.png) no-repeat 98% center;
		background-color: #333;

		cursor: pointer;
	} 

	header nav ul {
		overflow: hidden; 
		background: #333;
		height: 0;
		margin: 0;
	}

	header nav ul.open {
		height: auto; 
	}

	header nav ul.open li {
		float: none;
		width: 100%;
		margin: 0;
		border-bottom: 1px solid #525252;;
	}

	header nav ul.open li a {
		color: white;
		padding: 10px;
		display: block;
		text-align: left;
		margin: 0;
		

	}

	hr {
		display: none;
	}

	.afterheader {
		position: relative;
	}

	
	.logo {
		 background-size: auto 100px;
	}

	.memberLogin form input[type=text] {
		width: 30%;
	}

	.dropdownNav {

	}

	.service-section {
		padding: 0;
		width: 90%;
		margin: 20px 5% 20px 5%;
	}

	#main {
		/* height: 3400px; */
		padding-left: 0;
		font-size: 14px;
		line-height: 30px;
	}

	.sidebar h2 {
		padding: 20px 10px;
		font-size: 24px;
	}

	footer {

		padding: 20px;
		height: 320px;
		
	}

	footer .column {
		width: 46%;
		
	}

}




